{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block body %}
<section class="breadcrumbs">
    <div class="container">
    <h1>Panier</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdPanier</th>
                <td>{{ panier.idPanier }}</td>
            </tr>
            <tr>
                <th>IdUser</th>
                <td>{{ panier.idUser }}</td>
            </tr>
            <tr>
                <th>NbrArticle</th>
                <td>{{ panier.nbrArticle }}</td>
            </tr>
            <tr>
                <th>IdArticle</th>
                <td>{{ panier.idArticle }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_panier_index') }}">back to list</a>

    <a href="{{ path('app_panier_edit', {'idPanier': panier.idPanier}) }}">edit</a>

    {{ include('panier/_delete_form.html.twig') }}
    </div>
  </section>
{% endblock %}
