{% extends 'base.html.twig' %}

{% block title %}Reclamation{% endblock %}

{% block body %}
    <h1>Reclamation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdReclamation</th>
                <td>{{ reclamation.idReclamation }}</td>
            </tr>
            <tr>
                <th>IdUser</th>
                <td>{{ reclamation.idUser }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ reclamation.type }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ reclamation.contenu }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ reclamation.status }}</td>
            </tr>
            <tr>
                <th>DateEnv</th>
                <td>{{ reclamation.dateEnv ? reclamation.dateEnv|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_reclamation_index') }}">back to list</a>

    <a href="{{ path('app_reclamation_edit', {'idReclamation': reclamation.idReclamation}) }}">edit</a>

    {{ include('reclamation/_delete_form.html.twig') }}
{% endblock %}
