{% extends 'base.backoffice.html.twig' %}

{% block title %}Evenement {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        /* Define blue and green colors */
        .blue { color: #007bff; }
        .green { color: #28a745; }

        /* Add styles for the table */
        .table {
            width: 100%;
            max-width: 100%;
            margin-bottom: 1rem;
            background-color: #f8f9fa;
            color: #212529;
            border-collapse: collapse;
        }

        .table th, .table td {
            padding: .75rem;
            vertical-align: top;
            border-top: 1px solid #dee2e6;
        }

        .table th {
            color: #fff;
            background-color: #007bff;
            border-color: #007bff;
        }

        /* Define styles for links */
        .link {
            color: #28a745;
            text-decoration: none;
        }
        .link:hover {
            color: #218838;
        }
    </style>
{% endblock %}

{% block body %}
    <h1 class="blue">Evenement </h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdEvent</th>
                <th>NomEvent</th>
                <th>DateEvent</th>
                <th>Capacite</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for evenement in pagination %}
            <tr>
                <td>{{ evenement.idEvent }}</td>
                <td>{{ evenement.nomEvent }}</td>
                <td>{{ evenement.dateEvent }}</td>
                <td>{{ evenement.capacite }}</td>
                <td>{{ evenement.description }}</td>
                <td>
                    <a href="{{ path('app_evenement_show', {'idEvent': evenement.idEvent}) }}" class="link">Show</a>
                    <a href="{{ path('app_evenement_edit', {'idEvent': evenement.idEvent}) }}" class="link">Edit</a>
                    <a href="{{ path('app_reservation_new', {'idEvent': evenement.idEvent}) }}" class="link">Reserver</a>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="6">No records found</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
     {{ knp_pagination_render(pagination) }}

    <a href="{{ path('app_evenement_new') }}" class="link">Create new</a>
{% endblock %}
