{% extends 'base.backoffice.html.twig' %}

{% block title %}Articles index{% endblock %}

{% block body %}
<section class="breadcrumbs">
    <div class="container">
        <h1>Articles index</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Description</th>
                    <th>Prix</th>
                    <th>Image</th>
                    <th>Contact</th>
                    <th>Quantite</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
                {% for article in articles %}
                <tr>
                    <td>{{ article.id }}</td>
                    <td>{{ article.nom }}</td>
                    <td>{{ article.description }}</td>
                    <td>{{ article.prix }}</td>
                    <td><img src="../uploads/{{ article.image }}" class="img-fluid" height="100" width="125"></td>
                    <td>{{ article.contact }}</td>
                    <td>{{ article.quantite }}</td>
                    <td>
                        <a href="{{ path('app_articles_show', {'id': article.id}) }}" class="btn btn-info">Voir</a>
                        <a href="{{ path('app_articles_edit', {'id': article.id}) }}" class="btn btn-warning">Modifier</a>

                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="8">no records found</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="mt-4">
            <a href="{{ path('app_articles_new') }}" class="btn btn-success">Créer un nouvel article</a>
            <a href="{{ path('app_articles_index2') }}" class="btn btn-primary">Marketplace</a>
        </div>
        
    </div>
</section>
<div class="row">
    {# Afficher les articles paginés #}
    {% for article in articles %}
        <!-- Affichage des articles -->
    {% else %}
        <div class="col-12">
            <p class="text-center">Aucun article trouvé.</p>
        </div>
    {% endfor %}
</div>

{# Afficher les liens de pagination #}
<div class="pagination">
    {{ knp_pagination_render(articles) }}
</div>

{% endblock %}
