{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}
<section class="breadcrumbs">
    <div class="container">
    <h1>Articles</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ article.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ article.nom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ article.description }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ article.prix }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td><img src="{{ asset('uploads/' ~ article.image) }}" class="img-fluid" height="100" width="125"></td>
            </tr>
            <tr>
                <th>Contact</th>
                <td>{{ article.contact }}</td>
            </tr>
            <tr>
                <th>Quantite</th>
                <td>{{ article.quantite }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_articles_index2') }}" class="btn btn-warning">back to list</a>

    

   
    </div>
  </section>
{% endblock %}
