{{ form_start(form, {'attr': {'class': 'needs-validation', 'novalidate': true}}) }}

<div class="mb-3">
    {{ form_label(form.espacepartenaire.nom) }}
    {{ form_widget(form.espacepartenaire.nom, {'attr': {'class': 'form-control'}}) }}
</div>

<div class="mb-3">
    {{ form_label(form.espacepartenaire.localisation) }}
    {{ form_widget(form.espacepartenaire.localisation, {'attr': {'class': 'form-control'}}) }}
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBKbAQafF9CzI3D1HJkRgwxWywnFK8oSgM&libraries=places&callback=initialize" async defer></script>
<input id="searchInput" type="text" placeholder="Recherchez une adresse" class="form-control">
<div id="map" style="height: 400px;"></div>
<button id="selectLocationBtn" class="btn btn-primary">Sélectionner cette localisation</button>
<script>
     var map;
    var markers = [];
    var selectedMarker;
    var searchBox;
    var geocoder;

    function initialize() {
        var mapOptions = {
            center: {lat: 36.8065, lng: 10.1815},
            zoom: 8
        };
        map = new google.maps.Map(document.getElementById('map'), mapOptions);
        geocoder = new google.maps.Geocoder();
        initSearchBox();

        // Ajoutez un écouteur de clic sur la carte pour ajouter un marqueur
        google.maps.event.addListener(map, 'click', function(event) {
            clearMarkers();
            addMarker(event.latLng);
            geocodeLatLng(event.latLng);
        });

        // Ajoutez un écouteur pour le clic sur le bouton de sélection
        document.getElementById('selectLocationBtn').addEventListener('click', function() {
            if (selectedMarker) {
                geocodeLatLng(selectedMarker.getPosition());
            }
        });
    }

    // Fonction pour convertir une position en adresse et la mettre dans le champ du formulaire
    function geocodeLatLng(latlng) {
    geocoder.geocode({ 'location': latlng }, function (results, status) {
        if (status === 'OK') {
            if (results[0]) {
                var addressFound = false;
                // Essayez d'abord de trouver une adresse de rue ou une route.
                for (var i = 0; i < results.length; i++) {
                    if (results[i].types.indexOf('street_address') !== -1 || results[i].types.indexOf('route') !== -1) {
                        document.getElementById('{{ form.espacepartenaire.localisation.vars.id }}').value = results[i].formatted_address;
                        addressFound = true;
                        break; // Adresse trouvée, quittez la boucle.
                    }
                }
                // Si aucune rue n'est trouvée, essayez de trouver un quartier ou une zone politique.
                if (!addressFound) {
                    for (var i = 0; i < results.length; i++) {
                        if (results[i].types.indexOf('political') !== -1 || results[i].types.indexOf('sublocality') !== -1 || results[i].types.indexOf('locality') !== -1) {
                            document.getElementById('{{form.espacepartenaire.localisation.vars.id }}').value = results[i].formatted_address;
                            addressFound = true;
                            break; // Adresse trouvée, quittez la boucle.
                        }
                    }
                }
                // Si aucun résultat plus spécifique n'est trouvé, utilisez le résultat le plus général.
                if (!addressFound) {
                    document.getElementById('{{form.espacepartenaire.localisation.vars.id }}').value = results[0].formatted_address;
                }
            } else {
                window.alert('No results found');
            }
        } else {
            window.alert('Geocoder failed due to: ' + status);
        }
    });
}

    function addMarker(location) {
        clearMarkers();
        var marker = new google.maps.Marker({
            position: location,
            map: map
        });
        markers.push(marker);
        selectedMarker = marker;
    }

    function clearMarkers() {
        for (var marker of markers) {
            marker.setMap(null);
        }
        markers = [];
    }

    function initSearchBox() {
        var input = document.getElementById('searchInput');
        searchBox = new google.maps.places.SearchBox(input);
        map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

        map.addListener('bounds_changed', function() {
            searchBox.setBounds(map.getBounds());
        });

        searchBox.addListener('places_changed', function() {
            var places = searchBox.getPlaces();
            if (places.length == 0) return;

            clearMarkers();
            var bounds = new google.maps.LatLngBounds();
            for (var place of places) {
                if (!place.geometry) return;
                addMarker(place.geometry.location);
                if (place.geometry.viewport) bounds.union(place.geometry.viewport);
                else bounds.extend(place.geometry.location);
            }
            map.fitBounds(bounds);
        });
    }

    google.maps.event.addDomListener(window, 'load', initialize);
</script>

<div class="mb-3">
    {{ form_label(form.espacepartenaire.photos) }}
    {{ form_widget(form.espacepartenaire.photos, {'attr': {'class': 'form-control'}}) }}
    <img id="preview-image" src="#" alt="Aperçu de l'image" class="img-thumbnail mt-2" style="display: none;">
</div>

<div class="mb-3">
    {{ form_label(form.espacepartenaire.description) }}
    {{ form_widget(form.espacepartenaire.description, {'attr': {'class': 'form-control'}}) }}
</div>

<div class="mb-3">
    {{ form_label(form.espacepartenaire.id_type) }}
    {{ form_widget(form.espacepartenaire.id_type, {'attr': {'class': 'form-control'}}) }}
</div>



{{ form_end(form) }}



